.footer {
    background-color: #D8D8D8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footerContent {
    padding: 30px 0;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerContent>.main {
    position: relative;
    width: 30%;
}

.footerContent>.main>h4 {
    padding: 10px 0;
    font-size: 24px;
}

.footerContent>.main>p {
    text-align: justify;
}

.footerContent>.main>h6 {
    font-size: 16px;
    padding: 20px 0;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.links.lists {
    margin: 10px 0;
}

.links>.lists>h4 {
    padding: 0 10px;
    overflow: hidden;
}

.links>.lists>ul {
    list-style: none;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.links>.lists>ul>a:hover {
    padding: 5px 0;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.1);
}

.links>.lists>ul>a {
    padding: 5px 0;
    text-decoration: none;
    cursor: pointer;
}

.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 20px 0 0 0;
    box-shadow: 2px 2px 5px;
    backdrop-filter: blur( 11.0px);
}

.fixed>a {
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 640;
}
.socialMediaSlide{
    position: fixed;
    top:20%;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.socialMedia{
   
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border-radius:0  20px 20px 0 ;
    box-shadow: 2px 2px 7px rgb(173, 173, 173);
    margin-left: -68px;
    
    backdrop-filter: blur( 11.0px);
}
.socialMediaAfter{
   
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border-radius:0  20px 20px 0 ;
    box-shadow: 2px 2px 7px rgb(173, 173, 173);
    margin-left: 0px;
    backdrop-filter: blur( 11.0px);

}
.socialMedia>a{
    position: relative;
    text-decoration: none;
    border-radius: 10px;
    

}
.socialMediaAfter>a>img{
    position: relative;
    
    object-fit: contain;
    filter: drop-shadow(2px 2px 5px rgb(202, 202, 202));
}
.socialMediaAfter>a>img:hover{
    position: relative;
    transform: scale(1.2);
    object-fit: contain;
    filter: drop-shadow(2px 2px 5px rgb(202, 202, 202));
}
.socialMediaAfter>a{
    position: relative;
    text-decoration: none;
    border-radius: 10px;
    

}
.socialMedia>a>img{
    position: relative;
    
    object-fit: contain;
    filter: drop-shadow(2px 2px 5px rgb(202, 202, 202));
}
.socialMedia>a>img:hover{
    position: relative;
    transform: scale(1.2);
    object-fit: contain;
    filter: drop-shadow(2px 2px 5px rgb(202, 202, 202));
}
.slideIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    filter: drop-shadow(2px 2px 5px rgb(202, 202, 202));

}
.slideIcon:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(1.2);
    padding: 5px;

    filter: drop-shadow(2px 2px 5px rgb(202, 202, 202));
    
}
.iconRotate{
    transform: rotate(180deg);
}

@media screen and (max-width : 820px) {
    .footerContent {
        padding: 30px 0;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footerContent>.main {
        position: relative;
        width: 90%;
    }
    .links {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    .links.lists {
        margin: 0 10px;
    }
    .links>.lists>ul {
        list-style: none;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
}