:root {
    --textPrimary: #082C45;
    --textSecondary: #155F72;
    --primary: #22C8DF;
    --bordercolor: #DDEEF3;
}

* {
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 36px;
}

.nav {
    z-index: 100;
    color: var(--textPrimary);
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    background-color: var(--primary);
    box-shadow: 2px 2px 5px var(--textSecondary);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    backdrop-filter: blur( 11.0px);

}

.navBar {
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navList {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navList>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.navList>ul>li {
    padding: 0 20px;
    cursor: pointer;
}

.navList>ul>li>a {
    text-decoration: none;
    color: var(--textSecondary);
}

.navList>ul>li:hover {
    padding: 0 20px;
    padding-bottom: 3px;
    border-bottom: 2px solid var(--bordercolor);
    cursor: pointer;
    transform: scale(1.1);
}

.navList>.btn {
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: var(--textPrimary);
    color: var(--bordercolor);
    box-shadow: 2px 2px 3px var(--textPrimary);
    text-decoration: none;
}

.navList>.btn:hover {
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: var(--textPrimary);
    background-color: var(--bordercolor);
    box-shadow: 2px 2px 3px var(--bordercolor);
    text-decoration: none;
    transform: scale(1.1);
}

.navList>.menuIcon {
    display: none;
}


/* for tabletes */

@media screen and (max-width :820px) {
    .navBar {
        width: 95%;
        margin: auto;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navList {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .navList>ul {
        display: none;
        width: 100%;
        margin-right: 20px;
        text-align: end;
        /* display: block; */
        position: absolute;
        top: 90px;
        left: 0;
        list-style: none;
        background-color: var(--primary);
        padding-bottom: 40px;
        z-index: 1000;
    }
    .navList>ul>li {
        padding: 20px 30px;
        font-size: 22px;
    }
    .navList>ul>li>a:hover {
        padding: 20px 30px;
        font-size: 22px;
        color: var(--bordercolor);
    }
    .navList>ul>li:hover {
        padding: 20px 30px;
        font-size: 22px;
        background-color: var(--textPrimary);
        color: var(--bordercolor);
    }
    .navList>.btn {
        display: none;
        position: absolute;
        top: 50vh;
        left: 5%;
        font-size: 22px;
        width: 90%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: var(--textPrimary);
        color: var(--bordercolor);
        box-shadow: 2px 2px 15px hsla(0, 0%, 45%, 0.479);
    }
    .navList>.menuIcon {
        display: block;
        background-color: var(--primary);
        border: none;
    }
    .navList>.menuIcon>img {
        transform: rotateY(180deg);
    }
}


/* for mobile */

@media screen and (max-width :600px) {
    .navBar {
        width: 95%;
        margin: auto;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navList {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .navList>ul {
        display: none;
        width: 100%;
        margin-right: 20px;
        text-align: end;
        /* display: block; */
        position: absolute;
        top: 90px;
        left: 0;
        list-style: none;
        background-color: var(--primary);
        padding-bottom: 40px;
    }
    .navList>ul>li {
        padding: 20px 30px;
        font-size: 22px;
    }
    .navList>ul>li>a:hover {
        padding: 20px 30px;
        font-size: 22px;
        background-color: var(--textPrimary);
        color: var(--bordercolor);
    }
    .navList>.btn {
        display: none;
        position: absolute;
        top: 50vh;
        left: 5%;
        font-size: 22px;
        width: 90%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: var(--textPrimary);
        color: var(--bordercolor);
        box-shadow: 2px 2px 15px hsla(0, 0%, 45%, 0.479);
    }
    .navList>.menuIcon {
        display: block;
        background-color: var(--primary);
        border: none;
    }
    .navList>.menuIcon>img {
        transform: rotateY(180deg);
    }
}